@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: Quicksand;
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
  color: #f1356d;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  text-decoration: none;
  margin-left: 16px ;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}
.content{
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.blog-preview h2{
  color: #f1356d;
  font-size: 20px;
  margin-bottom: 8px;
}
.delete{
  position: relative;
  left: 400px;
  bottom: 50px;
  background: url(../public/deleteicon50.png) no-repeat;
  background-position: -8px;
  border: none;
  z-index: 1;
  width: 0;
  height: 20px;
  padding: 20px;
  text-indent: -9999px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog-details page */

.blog-details h2{
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 20px;
}
.blog-details div{
    margin: 20px 0;
}
.blog-details .author{
  margin-bottom: 30px;
}
.blog-details .body{
  line-height: 1.5em;
}

/* create-blog page */

.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.create h2{
  font-size: 32px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create label{
  text-align: left;
  display: block;
}
.create input,.create select,.create textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
  border: none;
  background-color: #f1356d;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

/* preview-blog  */
.preview-blog{
  margin: 0;
  width: 100%;
}
.preview{
  font-size: 30px;
  text-align: center;
  color: #35f151;
  margin: 30px 20px;
}
.preview-title{
  color: #f1356d;
  text-align: left;
  margin: 20px 0;
}
.preview-author{
  text-align: left;
  margin-bottom: 30px;
}
.preview-body{
  line-height: 1.5em;
}
.delete-blog{
  background-color: #f1356d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin-top: 8px;
}
.not-found h2{
  font-size: 32px;
  color: #f1356d;
  margin: 5px 2px;
  padding: 5px 2px;
}
.not-found p{
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}
.not-found a{
  text-decoration: none;
  font-weight: 500;
  padding: 5px;
}
.not-found a:hover{
  color: #fff;
  background-color: #f1356d;
  border-radius: 8px;
}